* {
    text-decoration: none;
    margin: auto;
    padding: auto;
}

.div1 {
    max-width: 1200px;
    margin: auto;
    padding: 0px 80px;
}

.nav1 .top a span {
    color: crimson;
}

.nav1 .div1 .style {
    list-style-type: none;
}

.top a {
    color: black;
    font-weight: 600;
    font-size: 30px;
}



.nav1 .style li {
    display: inline-block;
}
.nav1 {
    background-color: white;
    position: sticky;
    width: cover;
    font-family: 'Be Vietnam', sans-serif;

}

.nav1 .style li a {
    color: black;
    font-weight: 450;
    font-size: 20px;
    margin-left: 30px;
    

}

.nav1 .style li a:hover {
    color: crimson;
}

.nav1 .div1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home {
    font-family: 'Be Vietnam', sans-serif;
    background-color: darkslategrey;
    background-size: cover;
    padding-top: 400px;
    padding-bottom: 900px;
    padding-left: 500px;
    display: flex;
    background-position: left;
    background-image: url(../images/img3.jpg);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home .Home .text span {
    color: crimson;
}

.about {
    background-color: rgb(49, 231, 13);
    font-family: 'Be Vietnam', sans-serif;
}

.about .heading {
    padding-left: 500px;
    margin-left: 30px;
    line-height: 50px;
    color: crimson;
}

.services {
    color: darkseagreen;
    font-family: 'Be Vietnam', sans-serif; 

}

.services .services3 a {
    padding-left: 500px;
    line-height: 50px;
    font-size: larger;
    color: crimson;
}
